@import "tailwindcss";

@theme {
  --color-navy: #050E3C;
  --color-brightBlue: #0077b6;
  --color-lightAqua: #90e0ef;
  --color-canvas: #f9f9f6;
  --font-sans: 'Inter', sans-serif;
}

body {
  background-color: #f9f9f6;
  color: #050E3C;
  overflow-x: hidden;
}

.grid-bg {
  background-image: radial-gradient(#d1d1d1 1px, transparent 1px);
  background-size: 40px 40px;
}

.dashed-line-v {
  background-image: linear-gradient(to bottom, #e5e7eb 50%, transparent 50%);
  background-size: 1px 20px;
  background-repeat: repeat-y;
  width: 1px;
}

.dashed-line-h {
  background-image: linear-gradient(to right, #e5e7eb 50%, transparent 50%);
  background-size: 20px 1px;
  background-repeat: repeat-x;
  height: 1px;
}

.flipped-tab {
  transform-origin: top center;
  user-select: none;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}